@using MEMIS.Data;
@using MEMIS.Enums;
@model cloudscribe.Pagination.Models.PagedResult<ActivityAssess>

@{
    ViewData["Title"] = "Department Work Plan Setting";
    Layout = "~/Pages/Shared/_ContentNavbarLayout.cshtml";
}

<div class="row">
    <div class="col">
        <h3>Activity Assess</h3>
    </div>
    <div class="col-md-2">
        <a class="btn btn-success float-end float-right" asp-action="AddAnnualPlan">Add Annual Plan</a>
    </div>
    <div class="col-md-2 d-flex justify-content-end mb-3">
        <a class="btn btn-info" asp-action="Create">Create New</a>
    </div>
</div>
<div class="card">
  <div class="card-body">
        <div style="width:100%; overflow-x:auto;margin-top:20px;">
            <table class="table table-striped table-hover dt-responsive nowrap">
                <thead>
                  <tr>
                    <th>
                      @Html.DisplayNameFor(model => model.Data[0].StrategicIntervention.InterventionName)
                    </th>
                    <th>
                      @Html.DisplayNameFor(model => model.Data[0].intAction)
                    </th>
                    <th>
                      @Html.DisplayNameFor(model => model.Data[0].intActivity)
                    </th>
                    <th>
                      @Html.DisplayNameFor(model => model.Data[0].outputIndicator)
                    </th>
                    <th>
                      @Html.DisplayNameFor(model => model.Data[0].baseline)
                    </th>
                    <th>
                      @Html.DisplayNameFor(model => model.Data[0].comparativeTarget)
                    </th>
                    <th>
                      @Html.DisplayNameFor(model => model.Data[0].unitCost)
                    </th>
                    <th>
                      @Html.DisplayNameFor(model => model.Data[0].justification)
                    </th>
                    <th>
                      @Html.DisplayNameFor(model => model.Data[0].budgetAmount)
                    </th>
                    <th>
                      @Html.DisplayNameFor(model => model.Data[0].Quarter)
                    </th>
                    <th>
                      @Html.DisplayNameFor(model => model.Data[0].IdentifiedRisks)
                    </th>
                    @*                         <th>
        @Html.DisplayNameFor(model => model.Data[0].QTarget)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Data[0].QBudget)
    </th>
                    *@
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Data)
                    {
                        <tr>
                          <td>
                            @if (item.StrategicIntervention != null)
                            {
                              @Html.DisplayFor(modelItem => item.StrategicIntervention.InterventionName)
                            }
                            else
                            {
                              <p>N/A</p>
                            }
                          </td>
                          <td>
                            @if (item.StrategicAction != null)
                            {
                              @Html.DisplayFor(modelItem => item.StrategicAction.actionName)
                            }
                            else
                            {
                              <p>N/A</p>
                            }
                          </td>
                          <td>
                            @if (item.ActivityFk != null)
                            {
                              @Html.DisplayFor(modelItem => item.ActivityFk.activityName)
                            }
                            else
                            {
                              <p>N/A</p>
                            }
                          </td>

                          <td>
                            @Html.DisplayFor(modelItem => item.outputIndicator)
                          </td>
                          <td>
                            @Html.DisplayFor(modelItem => item.baseline)
                          </td>
                          <td>
                            @Html.DisplayFor(modelItem => item.comparativeTarget)
                          </td>
                          <td>
                            @Html.DisplayFor(modelItem => item.unitCost)
                          </td>
                          <td>
                            @Html.DisplayFor(modelItem => item.justification)
                          </td>
                          <td>
                            @Html.DisplayFor(modelItem => item.budgetAmount)
                          </td>
                          <td>
                            @Html.DisplayFor(modelItem => item.Quarter)
                          </td>
                          <td>
                            @Html.DisplayFor(modelItem => item.IdentifiedRisks)
                          </td>
                          @*                             <td>
        @Html.DisplayFor(modelItem => item.QTarget)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.QBudget)
    </td>
                          *@
                          <td>
                            <div class="btn-group" role="group" aria-label="Actions">
                              <a asp-action="Edit" asp-route-id="@item.intAssess" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Edit">
                                <i class='bx bx-edit'></i>
                              </a>
                              <a asp-action="Details" asp-route-id="@item.intAssess" class="btn btn-info" data-toggle="tooltip" data-placement="top" title="Details">
                                <i class='bx bx-detail'></i>
                              </a>
                              <a asp-action="Delete" asp-route-id="@item.intAssess" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Delete">
                                <i class='bx bx-message-square-x'></i>
                              </a>
                            </div>
                          </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
</div>
