@model MEMIS.ViewModels.NDPViewModel
@using MEMIS.ViewModels
@using System.Security.Claims
@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "NDP";
    //Layout = "~/Views/Shared/_PlanningLayout.cshtml";
}

<div class="container">
     <div class="row">
        <div class="col-10">
            <h1>NDP</h1>
        </div>
       <div class="col-2">
         <a class="btn btn-info" asp-action="Create">Create</a>
       </div>
    </div>
    <div class="row">
        @await Html.PartialAsync("~/Views/NDP/_NDPFile.cshtml", Model.NDPFile)
    </div>
</div>

<br>

<div class="container">
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.NDP.Data[0].Programme)</th>
                    <th>@Html.DisplayNameFor(model => model.NDP.Data[0].ProgrammeObjective)</th>
                    <th>@Html.DisplayNameFor(model => model.NDP.Data[0].SubProgramme)</th>
                    <th>@Html.DisplayNameFor(model => model.NDP.Data[0].SubProgrammeObjective)</th>
                    <th>@Html.DisplayNameFor(model => model.NDP.Data[0].ProgrammeIntervention)</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.NDP.Data)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Programme)</td>
                        <td>@Html.DisplayFor(modelItem => item.ProgrammeObjective)</td>
                        <td>@Html.DisplayFor(modelItem => item.SubProgramme)</td>
                        <td>@Html.DisplayFor(modelItem => item.SubProgrammeObjective)</td>
                        <td>@Html.DisplayFor(modelItem => item.ProgrammeIntervention)</td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.id" class="btn btn-sm btn-secondary"><i class="fas fa-edit"></i></a>
                            <a asp-action="Details" asp-route-id="@item.id" class="btn btn-sm btn-info"><i class="fas fa-info-circle"></i></a>
                            <a asp-action="Delete" asp-route-id="@item.id" class="btn btn-sm btn-danger"><i class="fas fa-trash-alt"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    
    <div class="d-flex justify-content-center">
        <cs-pager cs-paging-pagenumber="@Model.NDP.PageNumber"
                  cs-paging-totalitems="@Model.NDP.TotalItems"
                  cs-paging-pagesize="@Model.NDP.PageSize"
                  cs-pagenumber-param="pagenumber"
                  asp-controller="RiskIdentifications"
                  asp-action="Index"
                  cs-pager-li-current-class="page-item active"
                  cs-pager-li-other-class="page-item"
                  cs-pager-li-non-active-class="page-item disabled"
                  cs-pager-link-current-class="page-link"
                  cs-pager-link-other-class="page-link"></cs-pager>
    </div>
</div>
