@using MEMIS.Data;
@model cloudscribe.Pagination.Models.PagedResult<NDP_HD>

@{
    ViewData["Title"] = "NDP";
    Layout = "~/Views/Shared/_PlanningLayout.cshtml";
}

<h1>NDP</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div style="width:100%; overflow-x:auto;margin-top:20px;">
    <table class="table table-striped table-bordered table-hover dt-responsive nowrap" id="datatable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Data[0].ndpname)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Data[0].fromyear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data[0].toyear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data[0].active)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Data)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ndpname)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.fromyear)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.toyear)
                </td>
                <td>
                    @GetStatus(item.active)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }

    </tbody>
</table>
<cs-pager cs-paging-pagenumber="@Model.PageNumber"
          cs-paging-totalitems="@Model.TotalItems"
          cs-paging-pagesize="@Model.PageSize"
          cs-pagenumber-param="pagenumber"
          asp-controller="SDTMasters"
          asp-action="Index"
          cs-pager-li-current-class="page-item active"
          cs-pager-li-other-class="page-item"
          cs-pager-li-non-active-class="page-item disabled"
          cs-pager-link-current-class="page-link"
          cs-pager-link-other-class="page-link"></cs-pager>
</div>
@functions
{
    public string GetStatus(int? status=0)
    {
        foreach (var nstatus in ListHelper.NDPStatus())
        {
            if (Convert.ToInt32(nstatus.Value) == status)
            {
                return nstatus.Text;
            }
        }
        return "NA";
    }
   }