@using MEMIS.Data 
@model MEMIS.Data.DeptPlan


@{
    ViewData["Title"] = "Details";
    //Layout = "~/Views/Shared/_RiskLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>RiskIdentification</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StrategicObjective)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StrategicPlanFk.strategicObjective)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.strategicIntervention)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StrategicPlanFk.strategicIntervention)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StrategicAction)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StrategicPlanFk.StrategicAction)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.activity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.activity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.outputIndicator)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.outputIndicator)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.baseline)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.baseline)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.budgetCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.budgetCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.unitCost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.unitCost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Q1Target)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Q1Target)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Q1Budget)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Q1Budget)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Q2Target)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Q2Target)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Q2Budget)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Q2Budget)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Q3Target)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Q3Target)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Q3Budget)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Q3Budget)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Q4Target)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Q4Target)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Q4Budget)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Q4Budget)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.comparativeTarget)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.comparativeTarget)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.justification)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.justification)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.budgetAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.budgetAmount)
        </dd>
        <dt class="col-sm-2">
            Department
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DepartmentFk.deptName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.intActivity">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
