@model MEMIS.Data.SDTAssessment

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_MELayout.cshtml";
}

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SDTM&E Framework</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SDTMasterFk.ServiceDeliveryTimeline)
        </dt>
        <dd class = "col-sm-4">
            @Html.DisplayFor(model => model.SDTMasterFk.ServiceDeliveryTimeline)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SDTMasterFk.Measure)
        </dt>
        <dd class = "col-sm-4">
            @Html.DisplayFor(model => model.SDTMasterFk.Measure)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SDTMasterFk.EvaluationPeriod)
        </dt>
        <dd class = "col-sm-4">
            @Html.DisplayFor(model => model.SDTMasterFk.EvaluationPeriod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Month)
        </dt>
        <dd class = "col-sm-4">
            @Html.DisplayFor(model => model.Month)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Numerator)
        </dt>
        <dd class = "col-sm-4">
            @Html.DisplayFor(model => model.Numerator)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImplementedTimeline)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.ImplementedTimeline)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Denominator)
        </dt>
        <dd class = "col-sm-4">
            @Html.DisplayFor(model => model.Denominator)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rate)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.Rate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProportionTimeline)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.ProportionTimeline)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Target)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.Target)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AchivementStatus)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.AchivementStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Variance)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.Variance)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.Rating)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Justification)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.Justification)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-sm btn-outline-danger" />
        <a role="button" class="btn btn-sm btn-outline-secondary" asp-action="Index">Back to List</a>
    </form>
</div>
