@using MEMIS.Data;
@using System.Security.Claims;
@using Microsoft.AspNetCore.Identity;
@model cloudscribe.Pagination.Models.PagedResult<ProjectInitiation>

@{
    ViewData["Title"] = "Index";
    //Layout = "~/Views/Shared/_ProjectLayout.cshtml";
}
<style>
    .content {
        width: calc(100% - 280px);
    }

    table {
        font-size: 12px;
    }
</style>
<h1>Projects</h1>

<p>
    <a asp-action="ProjectCreate">Create New</a>
</p>
<div style="width:100%; overflow-x:auto;">
    <table class="table table-striped table-bordered table-hover dt-responsive nowrap">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Data[0].Code)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Data[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Data[0].Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Data[0].Section)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Data[0].Program)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Data[0].SubProgram)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Data[0].Desc)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Data[0].Manager)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Data[0].StartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Data[0].EndDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Data[0].Members)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Data[0].BudgetCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Data[0].Cost)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Data[0].DepartmentId)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Data)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Section)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Program)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubProgram)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Desc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Manager)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Members)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BudgetCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cost)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DepartmentId)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <cs-pager cs-paging-pagenumber="@Model.PageNumber"
              cs-paging-totalitems="@Model.TotalItems"
              cs-paging-pagesize="@Model.PageSize"
              cs-pagenumber-param="pagenumber"
              asp-controller="RiskIdentifications"
              asp-action="Index"
              cs-pager-li-current-class="page-item active"
              cs-pager-li-other-class="page-item"
              cs-pager-li-non-active-class="page-item disabled"
              cs-pager-link-current-class="page-link"
              cs-pager-link-other-class="page-link"></cs-pager>
</div>