@model MEMIS.Data.KPIMaster

@{
    ViewData["Title"] = "Delete";
    //Layout = "~/Views/Shared/_MELayout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>KPI  M&E Framework</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Strategic Objective
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StrategicPlanFk.strategicObjective)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PerformanceIndicator)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PerformanceIndicator)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TypeofIndicator)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TypeofIndicator)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IndicatorFormulae)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IndicatorFormulae)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IndicatorDefinition)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IndicatorDefinition)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OriginalBaseline)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OriginalBaseline)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Indicatorclassification)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Indicatorclassification)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Unitofmeasure)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Unitofmeasure)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FrequencyofReporting)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FrequencyofReporting)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MeansofVerification)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MeansofVerification)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ResponsibleParty)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ResponsibleParty)
        </dd>
        </dl>

        <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
