@model MEMIS.Data.StrategicAction

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_PlanningLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>StrategicAction</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.actionCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.actionCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.actionName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.actionName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrategicIntervention)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrategicIntervention.InterventionCode)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.intAction">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
