@{
}
@using MEMIS.Data;
@model List<KPIAssessment>
@{
    ViewData["Title"] = "M&E Reports";
    //Layout = "~/Views/Shared/_PlanningLayout.cshtml";
    Layout = "~/Pages/Shared/_ContentNavbarLayout.cshtml";
}

<h4 class="py-3 mb-4">
    <span class="text-muted fw-light">M&E Reports /</span> SDT Assessment
</h4>

<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-pills flex-column flex-md-row mb-3">
            <li class="nav-item"><a class="nav-link" href="MandEIndex">SDT Assessment</a></li>
            <li class="nav-item"><a class="nav-link active" href="javascript:void(0);">KPI Assessment</a></li>
            <li class="nav-item"><a class="nav-link" href="OpTargetPerfAchievReport">Output/Target Performance Achievement Report </a></li>
        </ul>

        <div class="card mb-4">
            <h5 class="card-header">
                <div class="col d-flex justify-content-end mb-3">
                    <a class="btn btn-outline-success float-end float-right" asp-action="SDTExportToExcel" target="_blank">Export to Excel</a>
                </div>
            </h5>
            <hr class="my-0" />

            <div class="card-body">
                <div style="width:100%; overflow-x:auto;">
                    <table class="table table-bordered table-hover dt-responsive nowrap">
                        <thead class="table-active">
                            <tr>
                                <th>
                                    Financial Year
                                </th>
                                <th>
                                    Performance Indicator
                                </th>
                                <th>
                                    Frequency Of Reporting
                                </th>
                                <th>
                                    Numerator Description
                                </th>
                                <th>
                                    Denominator Description
                                </th>
                                <th>
                                    Target
                                </th>
                                <th>
                                    Numerator
                                </th>
                                <th>
                                    Denominator
                                </th>
                                <th>
                                    Performance
                                </th>
                                <th>
                                    Rating
                                </th>
                                <th>
                                    Justification
                                </th>
                                <th>
                                    Department
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FY)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PerformanceIndicator)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FrequencyofReporting)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IndicatorFormulae)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IndicatorDefinition)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Target)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Numerator)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Denominator)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Rate)
                                    </td>
                                    <td class="badge text-white" style="background-color: @getAchievementColor(item.Achieved)">
                                        @getAchievement(item.Achieved)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Justification)
                                    </td>
                                    <td>
                                        @{
                                            var ResponsibleParty = item?.KPIMasterFk?.ResponsibleParty ?? string.Empty;
                                        }
                                        @Html.DisplayFor(m => ResponsibleParty)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    @*<cs-pager cs-paging-pagenumber="@Model.PageNumber"
                    cs-paging-totalitems="@Model.TotalItems"
                    cs-paging-pagesize="@Model.PageSize"
                    cs-pagenumber-param="pagenumber"
                    asp-controller="RiskIdentifications"
                    asp-action="Index"
                    cs-pager-li-current-class="page-item active"
                    cs-pager-li-other-class="page-item"
                    cs-pager-li-non-active-class="page-item disabled"
                    cs-pager-link-current-class="page-link"
                    cs-pager-link-other-class="page-link"></cs-pager>*@
                </div>
            </div>
        </div>
    </div>
</div>

@* <div>
  <div class="card">
    <div class="card-body">
      <table class="table table-bordered table-striped">
       <tbody>
         <tr>
           <td>Programe Implementation Plan </td>
           <td><a class="btn btn-outline-success float-end float-right" asp-action="ExportToExcel" target="_blank">Export to Excel</a> </td>
         </tr>
          <tr>
           <td>Consolidated Department Plan </td>
           <td><a class="btn btn-outline-success float-end float-right" asp-action="ConsolidatedExportToExcel" target="_blank">Export to Excel</a> </td>
         </tr>
       </tbody>
      </table>
    </div>
  </div>
</div> *@
@{
    static string getAchievement(string? achieve)
    {
        foreach (var nachieve in ListHelper.AchievementStatus())
        {
            if (nachieve.Value == achieve)
            {
                return nachieve.Text;
            }
        }
        return "NA";
    }

    static string getAchievementColor(string? achieve)
    {
        return achieve == "1.0" ? "#00b050" : achieve == "0.5" ? "#fefe00" : "#fd0000";
    }
}
