@{
}
@using MEMIS.Data;
@model List<KPIMaster>
@{
    ViewData["Title"] = "M&E Reports";
    //Layout = "~/Views/Shared/_PlanningLayout.cshtml";
    Layout = "~/Pages/Shared/_ContentNavbarLayout.cshtml";
}

<h4 class="py-3 mb-4">
    <span class="text-muted fw-light">M&E Reports /</span> KPI M&E Framework Report
</h4>

<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-pills flex-column flex-md-row mb-3">
            <li class="nav-item"><a class="nav-link" href="MandEIndex">SDT Quarterly Performance Report </a></li>
            <li class="nav-item"><a class="nav-link" href="KpiAssessment">KPI M&E Report</a></li>
            <li class="nav-item"><a class="nav-link" href="OpTargetPerfAchievReport">Output/Target Performance Achievement Report </a></li>
            <li class="nav-item"><a class="nav-link" href="StrategicActionPerfAchievReport">Strategic Action Performance Achievement  </a></li>
            <li class="nav-item"><a class="nav-link" href="StrategicInterventionPerfAchievReport">Strategic Intervention Performance Achievement  </a></li>
            <li class="nav-item"><a class="nav-link" href="StrategicObjectivePerfAchievReport">Strategic Objective Performance Achievement  </a></li>
            <li class="nav-item"><a class="nav-link" href="OutcomePerformanceAchievementReport">Outcome Performance Achievement Report</a></li>
            <li class="nav-item"><a class="nav-link" href="ImpactPerformanceAchievementReport">Impact Performance Achievement Report</a></li>
            <li class="nav-item"><a class="nav-link" href="SDTMAndEFrameworkReport">SDT M&E Framework Report </a></li>
            <li class="nav-item"><a class="nav-link active" href="javascript:void(0);">KPI M&E Framework Report </a></li>
            <li class="nav-item"><a class="nav-link" href="StrategicPlanOutputMonitoringTracker">Strategic Plan Output Monitoring Tracker</a></li>
        </ul>

        <div class="card mb-4">
            <h5 class="card-header">
              <div class="col d-flex justify-content-end mb-3">
                <a class="btn btn-outline-success float-end float-right" asp-action="KPIMandEFrameworkReportExcel" target="_blank">Export to Excel</a>
                <a class="btn btn-outline-danger float-end float-right" asp-action="KPIMandEFrameworkReportPdf" target="_blank">Export to Pdf</a>
              </div>
            </h5>
            <hr class="my-0" />

            <div class="card-body">
                <div style="width:100%; overflow-x:auto;">
                    <table class="table table-striped table-bordered table-hover dt-responsive nowrap">
                        <thead class="table-active">
                            <tr>
                                <th>
                                    Performance Indicator
                                </th>
                                <th>
                                    Type of Indicator
                                </th>
                                <th>
                                    Indicator Formulae
                                </th>
                                <th>
                                    Indicator Definition
                                </th>
                                <th>
                                    Original Baseline
                                </th>
                                <th>
                                    Indicator Classification
                                </th>
                                <th>
                                    Data Type
                                </th>
                                <th>
                                    Unit of Measure
                                </th>
                                <th>
                                    Frequency of Reporting
                                </th>
                                <th>
                                    Target for FY 1
                                </th>
                                <th>
                                    Target for FY 2
                                </th>
                                <th>
                                    Target for FY 3
                                </th>
                                <th>
                                    Target for FY 4
                                </th>
                                <th>
                                    Target for FY 5
                                </th>
                                <th>
                                    Means of Verification
                                </th>
                                <th>
                                    Department
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PerformanceIndicator)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(m => item.TypeofIndicator)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(m => item.IndicatorFormulae)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(m => item.IndicatorDefinition)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(m => item.OriginalBaseline)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(m => item.Indicatorclassification)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(m => item.DataType)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(m => item.Unitofmeasure)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(m => item.FrequencyofReporting)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(m => item.FY1)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(m => item.FY2)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(m => item.FY3)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(m => item.FY4)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(m => item.FY5)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(m => item.MeansofVerification)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(m => item.ResponsibleParty)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
