@using MEMIS.Models.Report
@using Newtonsoft.Json;
@using Newtonsoft.Json.Serialization
@model List<StrategicObjectiveReport>
@{
    ViewData["Title"] = "Planning Reports";
    Layout = "~/Pages/Shared/_ContentNavbarLayout.cshtml";
    var selectedDeptId = ViewData["SelectedDeptId"]?.ToString();
    // var selectedQuarter = ViewData["SelectedQuarter"]?.ToString();
}

<h4 class="py-3 mb-4">
    <span class="text-muted fw-light">Planning Reports /</span> Activity Implementation Status Report
</h4>

<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-pills flex-column flex-md-row mb-3">
            <li class="nav-item"><a class="nav-link" href="/Reports/planningIndex">Programe Implementation Plan</a></li>
            <li class="nav-item"><a class="nav-link" href="/Reports/ConsolDeptPlan">Annual Detailed Results Framework</a></li>
            <li class="nav-item"><a class="nav-link" href="/Reports/ActivityImplementationStatus">Activity Implementation Status Report</a></li>
            <li class="nav-item"><a class="nav-link active" href="javascript:void(0);">Strategic Plan Activity Implementation Tracker</a></li>
        </ul>

        <div class="card mb-4">
            <h5 class="card-header">
                <div class="row">
                    <form asp-action="StrategicPlanActivityImplementationTracker" method="get">
                        <div class="row">
                            <div class="col-4">
                                @* <div class="form-group">
                                <label for="departmentSelect">Select Department:</label>
                                @Html.DropDownList("selectedDeptId", (SelectList)ViewBag.Departments, "-- Select a Department --", new { @class = "form-control form-select" })
                                </div> *@
                            </div>
                            <div class="col-4">
                                @* <div class="form-group">
                                <label for="departmentSelect">Select Quarter:</label>
                                @Html.DropDownList("quarter", new SelectList(new[] {
                                new { Value = "", Text = "-- Select Quarter --" },
                                new { Value = "1", Text = "Quarter 1" },
                                new { Value = "2", Text = "Quarter 2" },
                                new { Value = "3", Text = "Quarter 3" },
                                new { Value = "4", Text = "Quarter 4" }
                                }, "Value", "Text", selectedQuarter), new { @class = "form-control form-select" })
                                </div> *@
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label>&nbsp;</label>
                                </div>
                                @* <button type="submit" name="action" value="Load" class="btn btn-primary">Load</button> *@
                                <button type="submit" name="action" value="Export" class="btn btn-outline-success float-end float-right">Export to Excel</button>
                            </div>
                        </div>
                    </form>
                    <br />
                    @*                     <div class="col d-flex justify-content-end mb-3">
                    <a class="btn btn-outline-success float-end float-right" asp-action="ConsolidatedExportToExcel" target="_blank">Export to Excel</a>
                    </div>
                    *@
                </div>
            </h5>
            <hr class="my-0" />

            <div class="card-body">
                <div style="width:100%; overflow-x:auto;">
                    <table class="table table-bordered nowrap">
                        <thead class="table-active">
                            <tr>
                                <th>Strategic Objective</th>
                                <th>Strategic Intervention</th>
                                <th>Strategic Action</th>
                                <th>FY1</th>
                                <th>FY2</th>
                                <th>FY3</th>
                                <th>FY4</th>
                                <th>FY5</th>
                                <th>Cumulative Overall Performance Intervention</th>
                                <th>Cumulative Overall Performance Objective</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int objective = 0; objective < Model.Count; objective++)
                            {
                                <tr>
                                    <td rowspan="@Model[objective].StrategicInterventions.Count">@Model[objective].StrategicObjective</td>
                                    @for (int intervention = 0; intervention < Model[objective].StrategicInterventions.Count; intervention++)
                                    {
                                        if (intervention == 0)
                                        {
                                            <td rowspan="@Model[objective].StrategicInterventions[intervention].StrategicActions.Count">@Model[objective].StrategicInterventions[intervention].StrategicIntervention</td>

                                            @for (int action = 0; action < Model[objective].StrategicInterventions[intervention].StrategicActions.Count; action++)
                                            {
                                                if (action == 0)
                                                {
                                                    <td>@Model[objective].StrategicInterventions[intervention].StrategicActions[action].StrategicAction</td>
                                                    <td style="background-color: @ListHelper.GetFiscalYearBackgroundColor(Model[objective].StrategicInterventions[intervention].StrategicActions[action].FiscalYearData[4]); color: @ListHelper.GetFiscalYearColor(Model[objective].StrategicInterventions[intervention].StrategicActions[action].FiscalYearData[4])">@Model[objective].StrategicInterventions[intervention].StrategicActions[action].FiscalYearData[4]</td>
                                                    <td style="background-color: @ListHelper.GetFiscalYearBackgroundColor(Model[objective].StrategicInterventions[intervention].StrategicActions[action].FiscalYearData[3]); color: @ListHelper.GetFiscalYearColor(Model[objective].StrategicInterventions[intervention].StrategicActions[action].FiscalYearData[3])">@Model[objective].StrategicInterventions[intervention].StrategicActions[action].FiscalYearData[3]</td>
                                                    <td style="background-color: @ListHelper.GetFiscalYearBackgroundColor(Model[objective].StrategicInterventions[intervention].StrategicActions[action].FiscalYearData[2]); color: @ListHelper.GetFiscalYearColor(Model[objective].StrategicInterventions[intervention].StrategicActions[action].FiscalYearData[2])">@Model[objective].StrategicInterventions[intervention].StrategicActions[action].FiscalYearData[2]</td>
                                                    <td style="background-color: @ListHelper.GetFiscalYearBackgroundColor(Model[objective].StrategicInterventions[intervention].StrategicActions[action].FiscalYearData[1]); color:  @ListHelper.GetFiscalYearColor(Model[objective].StrategicInterventions[intervention].StrategicActions[action].FiscalYearData[1])">@Model[objective].StrategicInterventions[intervention].StrategicActions[action].FiscalYearData[1]</td>
                                                    <td style="background-color: @ListHelper.GetFiscalYearBackgroundColor(Model[objective].StrategicInterventions[intervention].StrategicActions[action].FiscalYearData[0]); color:  @ListHelper.GetFiscalYearColor(Model[objective].StrategicInterventions[intervention].StrategicActions[action].FiscalYearData[0])">@Model[objective].StrategicInterventions[intervention].StrategicActions[action].FiscalYearData[0]</td>
                                                    <td style="background-color: @ListHelper.GetFiscalYearBackgroundColor(Math.Round(Model[objective].StrategicInterventions[intervention].AverageFiscalYearData.Average(), 2)); color: @ListHelper.GetFiscalYearColor(Math.Round(Model[objective].StrategicInterventions[intervention].AverageFiscalYearData.Average(), 2))" rowspan="@Model[objective].StrategicInterventions[intervention].StrategicActions.Count">@Math.Round(Model[objective].StrategicInterventions[intervention].AverageFiscalYearData.Average(), 2)</td>
                                                    <td style="background-color: @ListHelper.GetFiscalYearBackgroundColor(Math.Round(Model[objective].AverageFiscalYearData.Average(), 2)); color: @ListHelper.GetFiscalYearColor(Math.Round(Model[objective].AverageFiscalYearData.Average(), 2))" rowspan="@Model[objective].StrategicInterventions.Count">@Math.Round(Model[objective].AverageFiscalYearData.Average(), 2)</td>
                                                }
                                                else
                                                {
                                                <tr>
                                                    <td>@Model[objective].StrategicInterventions[intervention].StrategicActions[action].StrategicAction</td>
                                                    <td style="background-color: @ListHelper.GetFiscalYearBackgroundColor(Model[objective].StrategicInterventions[intervention].StrategicActions[action].FiscalYearData[4]); color: @ListHelper.GetFiscalYearColor(Model[objective].StrategicInterventions[intervention].StrategicActions[action].FiscalYearData[4])">@Model[objective].StrategicInterventions[intervention].StrategicActions[action].FiscalYearData[4]</td>
                                                    <td style="background-color: @ListHelper.GetFiscalYearBackgroundColor(Model[objective].StrategicInterventions[intervention].StrategicActions[action].FiscalYearData[3]); color: @ListHelper.GetFiscalYearColor(Model[objective].StrategicInterventions[intervention].StrategicActions[action].FiscalYearData[3])">@Model[objective].StrategicInterventions[intervention].StrategicActions[action].FiscalYearData[3]</td>
                                                    <td style="background-color: @ListHelper.GetFiscalYearBackgroundColor(Model[objective].StrategicInterventions[intervention].StrategicActions[action].FiscalYearData[2]); color: @ListHelper.GetFiscalYearColor(Model[objective].StrategicInterventions[intervention].StrategicActions[action].FiscalYearData[2])">@Model[objective].StrategicInterventions[intervention].StrategicActions[action].FiscalYearData[2]</td>
                                                    <td style="background-color: @ListHelper.GetFiscalYearBackgroundColor(Model[objective].StrategicInterventions[intervention].StrategicActions[action].FiscalYearData[1]); color:  @ListHelper.GetFiscalYearColor(Model[objective].StrategicInterventions[intervention].StrategicActions[action].FiscalYearData[1])">@Model[objective].StrategicInterventions[intervention].StrategicActions[action].FiscalYearData[1]</td>
                                                    <td style="background-color: @ListHelper.GetFiscalYearBackgroundColor(Model[objective].StrategicInterventions[intervention].StrategicActions[action].FiscalYearData[0]); color:  @ListHelper.GetFiscalYearColor(Model[objective].StrategicInterventions[intervention].StrategicActions[action].FiscalYearData[0])">@Model[objective].StrategicInterventions[intervention].StrategicActions[action].FiscalYearData[0]</td>
                                                </tr>
                                                }


                                            }
                                            @* <td rowspan="@Model[objective].StrategicInterventions[intervention].StrategicActions.Count">@Model[objective].StrategicInterventions[intervention].AverageFiscalYearData</td> *@
                                        }
                                        else
                                        {
                                        <tr>
                                            <td rowspan="@Model[objective].StrategicInterventions[intervention].StrategicActions.Count">@Model[objective].StrategicInterventions[intervention].StrategicIntervention</td>

                                                @for (int action = 0; action < Model[objective].StrategicInterventions[intervention].StrategicActions.Count; action++)
                                                {
                                                    if (action == 0)
                                                    {
                                                    <td>@Model[objective].StrategicInterventions[intervention].StrategicActions[action].StrategicAction</td>
                                                    <td style="background-color: @ListHelper.GetFiscalYearBackgroundColor(Model[objective].StrategicInterventions[intervention].StrategicActions[action].FiscalYearData[4]); color: @ListHelper.GetFiscalYearColor(Model[objective].StrategicInterventions[intervention].StrategicActions[action].FiscalYearData[4])">@Model[objective].StrategicInterventions[intervention].StrategicActions[action].FiscalYearData[4]</td>
                                                    <td style="background-color: @ListHelper.GetFiscalYearBackgroundColor(Model[objective].StrategicInterventions[intervention].StrategicActions[action].FiscalYearData[3]); color: @ListHelper.GetFiscalYearColor(Model[objective].StrategicInterventions[intervention].StrategicActions[action].FiscalYearData[3])">@Model[objective].StrategicInterventions[intervention].StrategicActions[action].FiscalYearData[3]</td>
                                                    <td style="background-color: @ListHelper.GetFiscalYearBackgroundColor(Model[objective].StrategicInterventions[intervention].StrategicActions[action].FiscalYearData[2]); color: @ListHelper.GetFiscalYearColor(Model[objective].StrategicInterventions[intervention].StrategicActions[action].FiscalYearData[2])">@Model[objective].StrategicInterventions[intervention].StrategicActions[action].FiscalYearData[2]</td>
                                                    <td style="background-color: @ListHelper.GetFiscalYearBackgroundColor(Model[objective].StrategicInterventions[intervention].StrategicActions[action].FiscalYearData[1]); color:  @ListHelper.GetFiscalYearColor(Model[objective].StrategicInterventions[intervention].StrategicActions[action].FiscalYearData[1])">@Model[objective].StrategicInterventions[intervention].StrategicActions[action].FiscalYearData[1]</td>
                                                    <td style="background-color: @ListHelper.GetFiscalYearBackgroundColor(Model[objective].StrategicInterventions[intervention].StrategicActions[action].FiscalYearData[0]); color:  @ListHelper.GetFiscalYearColor(Model[objective].StrategicInterventions[intervention].StrategicActions[action].FiscalYearData[0])">@Model[objective].StrategicInterventions[intervention].StrategicActions[action].FiscalYearData[0]</td>
                                                    <td style="background-color: @ListHelper.GetFiscalYearBackgroundColor(Math.Round(Model[objective].AverageFiscalYearData.Average(), 2)); color: @ListHelper.GetFiscalYearColor(Math.Round(Model[objective].AverageFiscalYearData.Average(), 2))" rowspan="@Model[objective].StrategicInterventions[intervention].StrategicActions.Count">@Math.Round(Model[objective].StrategicInterventions[intervention].AverageFiscalYearData.Average(), 2)</td>
                                                    @* <td rowspan="@Model[objective].StrategicInterventions.Count">@Model[objective].AverageFiscalYearData</td> *@
                                                    }
                                                    else
                                                    {
                                                <tr>
                                                    <td>@Model[objective].StrategicInterventions[intervention].StrategicActions[action].StrategicAction</td>
                                                    <td style="background-color: @ListHelper.GetFiscalYearBackgroundColor(Model[objective].StrategicInterventions[intervention].StrategicActions[action].FiscalYearData[4]); color: @ListHelper.GetFiscalYearColor(Model[objective].StrategicInterventions[intervention].StrategicActions[action].FiscalYearData[4])">@Model[objective].StrategicInterventions[intervention].StrategicActions[action].FiscalYearData[4]</td>
                                                    <td style="background-color: @ListHelper.GetFiscalYearBackgroundColor(Model[objective].StrategicInterventions[intervention].StrategicActions[action].FiscalYearData[3]); color: @ListHelper.GetFiscalYearColor(Model[objective].StrategicInterventions[intervention].StrategicActions[action].FiscalYearData[3])">@Model[objective].StrategicInterventions[intervention].StrategicActions[action].FiscalYearData[3]</td>
                                                    <td style="background-color: @ListHelper.GetFiscalYearBackgroundColor(Model[objective].StrategicInterventions[intervention].StrategicActions[action].FiscalYearData[2]); color: @ListHelper.GetFiscalYearColor(Model[objective].StrategicInterventions[intervention].StrategicActions[action].FiscalYearData[2])">@Model[objective].StrategicInterventions[intervention].StrategicActions[action].FiscalYearData[2]</td>
                                                    <td style="background-color: @ListHelper.GetFiscalYearBackgroundColor(Model[objective].StrategicInterventions[intervention].StrategicActions[action].FiscalYearData[1]); color:  @ListHelper.GetFiscalYearColor(Model[objective].StrategicInterventions[intervention].StrategicActions[action].FiscalYearData[1])">@Model[objective].StrategicInterventions[intervention].StrategicActions[action].FiscalYearData[1]</td>
                                                    <td style="background-color: @ListHelper.GetFiscalYearBackgroundColor(Model[objective].StrategicInterventions[intervention].StrategicActions[action].FiscalYearData[0]); color:  @ListHelper.GetFiscalYearColor(Model[objective].StrategicInterventions[intervention].StrategicActions[action].FiscalYearData[0])">@Model[objective].StrategicInterventions[intervention].StrategicActions[action].FiscalYearData[0]</td>
                                                </tr>
                                                    }

                                                }
                                                @* <td rowspan="@Model[objective].StrategicInterventions[intervention].StrategicActions.Count">@Model[objective].StrategicInterventions[intervention].AverageFiscalYearData</td> *@
                                        </tr>
                                        }
                                    }
                                    @* <td rowspan="@Model[objective].StrategicInterventions.Count">@Model[objective].AverageFiscalYearData</td> *@
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="activityAssessModal" tabindex="-1" role="dialog" aria-labelledby="activityAssessModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="activityAssessModalLabel">Activity Assess Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Content will be loaded here -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script>
    document.querySelector('form').addEventListener('submit', function (event) {
        var action = event.submitter.value;
        if (action === 'Export') {
            this.action = '@Url.Action("StrategicPlanActivityImplementationTrackerExportToExcel", new { action = "Export" })';
        } else {
            this.action = '@Url.Action("StrategicPlanActivityImplementationTracker")';
        }
    });

    $(document).on('click', 'button[data-id]', function () {
        var id = $(this).data('id');

        $.ajax({
            url: '@Url.Action("GetActivityImplementationDetails", "Reports")', // Update with your controller action
            type: 'GET',
            data: { id: id },
            success: function (data) {
                $('#activityAssessModal .modal-body').html(data);
                $('#activityAssessModal').modal('show');
            },
            error: function () {
                alert('Failed to load details.');
            }
        });
    });
</script>
