@model MEMIS.Data.ActivityAssessment

@{
  ViewData["Title"] = "Details";
  //Layout = "~/Views/Shared/_MELayout.cshtml";
  Layout = "~/Pages/Shared/_ContentNavbarLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>ActivityAssessment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.strategicObjective)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.strategicObjective)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.strategicIntervention)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.strategicIntervention)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrategicAction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrategicAction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.activity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.activity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.outputIndicator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.outputIndicator)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.baseline)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.baseline)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.budgetCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.budgetCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.unitCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.unitCost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.comparativeTarget)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.comparativeTarget)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.justification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.justification)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.budgetAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.budgetAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Q1Target)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Q1Target)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Q1Budget)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Q1Budget)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Q1Actual)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Q1Actual)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Q1AmtSpent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Q1AmtSpent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Q1Justification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Q1Justification)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Q2Target)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Q2Target)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Q2Budget)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Q2Budget)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Q2Actual)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Q2Actual)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Q2AmtSpent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Q2AmtSpent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Q2Justification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Q2Justification)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Q3Target)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Q3Target)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Q3Budget)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Q3Budget)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Q3Actual)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Q3Actual)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Q3AmtSpent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Q3AmtSpent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Q3Justification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Q3Justification)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Q4Target)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Q4Target)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Q4Budget)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Q4Budget)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Q4Actual)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Q4Actual)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Q4AmtSpent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Q4AmtSpent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Q4Justification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Q4Justification)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnnualAchievement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnnualAchievement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotAmtSpent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotAmtSpent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImplementationStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImplementationStatus.ImpStatusId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnnualJustification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnnualJustification)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.intDeptPlan">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
