@model MEMIS.Data.PreinspectionNewManUnit

@{
    ViewData["Title"] = "Delete";
    //Layout = "~/Views/Shared/_GISLayout.cshtml";
}

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Preinspection</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InspectionDate)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.InspectionDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Applicant)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.Applicant)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Business)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.Business)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Road)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.Road)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Zone)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.Zone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Village)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.Village)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DistrictId)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.District.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telephone)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.Telephone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GPS)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.GPS)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductClassification)
        </dt>
        <dd class="col-sm-4">
            @Enum.GetName(typeof(MEMIS.EnumProductClassification), Model.ProductClassification)
        </dd> 
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.comments)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.comments)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InspectorId)
        </dt>
        <dd class="col-sm-4">
            @ViewBag.Users.FindByIdAsync(Model.InspectorId).Result.UserName
        </dd>
      
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-sm btn-outline-danger" />
        <a role="button" class="btn btn-sm btn-outline-secondary" asp-action="Index">Back to List</a>
    </form>
</div>
