@model MEMIS.Data.AnnualImplemtationPlan

@{
  ViewData["Title"] = "Create";
  //Layout = "~/Views/Shared/_PlanningLayout.cshtml";
  Layout = "~/Pages/Shared/_ContentNavbarLayout.cshtml";
}

<h1>Create</h1>

<h4>Annualised Strategic Plan Implementation Action Plan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="subProgram" class="control-label"></label>
                <input asp-for="subProgram" class="form-control" />
                <span asp-validation-for="subProgram" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="intFocus" class="control-label"></label>
                <select id="FocusArea" name="FocusArea" class="form-control" onchange="loadStrategicObjectives(this.value)">
                    <option value="">Select Focus Area</option>
                    @foreach (var item in ViewBag.FocusAreas)
                    {
                        <option value="@item.intFocus">@item.FocusAreaName</option>
                    }
                </select>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="intObjective" class="control-label"></label>
                <select id="StrategicObjective" asp-for="intObjective" class="form-control" onchange="loadStrategicInterventions(this.value)">
                    <option value="">Select Strategic Objective</option>
                </select>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="intIntervention" class="control-label"></label>
                <select id="StrategicIntervention" asp-for="intIntervention" class="form-control" onchange="loadStrategicActions(this.value)">
                    <option value="">Select Strategic Intervention</option>
                </select>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="intAction" class="control-label"></label>
                <select id="StrategicAction" asp-for="intAction" class="form-control" onchange="loadActivities(this.value)">
                    <option value="">Select Strategic Action</option>
                </select>
            </div>
            <br />
            c
            <br />
            <div class="form-group">
                <label asp-for="baseline" class="control-label"></label>
                <input asp-for="baseline" class="form-control" />
                <span asp-validation-for="baseline" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="annualTarget" class="control-label"></label>
                <input asp-for="annualTarget" class="form-control" />
                <span asp-validation-for="annualTarget" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="meansofVerification" class="control-label"></label>
                <input asp-for="meansofVerification" class="form-control" />
                <span asp-validation-for="meansofVerification" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Risk" class="control-label"></label>
                <input asp-for="Risk" class="form-control" />
                <span asp-validation-for="Risk" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="intDept" class="control-label"></label>
                <select asp-for="intDept" class ="form-control" asp-items="ViewBag.intDept"></select>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="Index">Back to List</a>
</div>

@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@

@section Scripts {
  <script>
        function loadStrategicObjectives(focusAreaId) {
            if (focusAreaId) {
                $.getJSON('@Url.Action("GetStrategicObjectives")', { focusAreaId: focusAreaId }, function (data) {
                    var $objectiveDropdown = $('#StrategicObjective');
                    $objectiveDropdown.empty();
                    $objectiveDropdown.append('<option value="">Select Strategic Objective</option>');
                    $.each(data, function (index, item) {
                        $objectiveDropdown.append('<option value="' + item.intObjective + '">' + item.ObjectiveName + '</option>');
                    });
                });
            }
        }

        function loadStrategicInterventions(objectiveId) {
            if (objectiveId) {
                $.getJSON('@Url.Action("GetStrategicInterventions")', { objectiveId: objectiveId }, function (data) {
                    var $interventionDropdown = $('#StrategicIntervention');
                    $interventionDropdown.empty();
                    $interventionDropdown.append('<option value="">Select Strategic Intervention</option>');
                    $.each(data, function (index, item) {
                        $interventionDropdown.append('<option value="' + item.intIntervention + '">' + item.InterventionName + '</option>');
                    });
                });
            }
        }

        function loadStrategicActions(interventionId) {
            if (interventionId) {
                $.getJSON('@Url.Action("GetStrategicActions")', { interventionId: interventionId }, function (data) {
                    var $actionDropdown = $('#StrategicAction');
                    $actionDropdown.empty();
                    $actionDropdown.append('<option value="">Select Strategic Action</option>');
                    $.each(data, function (index, item) {
                        $actionDropdown.append('<option value="' + item.intAction + '">' + item.actionName + '</option>');
                    });
                });
            }
        }
        function loadActivities(actionId) {
            if (actionId) {
                $.getJSON('@Url.Action("GetActivities")', { actionId: actionId }, function (data) {
                    var $activityDropdown = $('#Activity');
                    $activityDropdown.empty();
                    $activityDropdown.append('<option value="">Select Activity</option>');
                    $.each(data, function (index, item) {
                        $activityDropdown.append('<option value="' + item.intActivity + '">' + item.activityName + '</option>');
                    });
                });
            }
        }

    </script>
}
