@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContextAccessor

<!DOCTYPE html>
<html lang="en"
      class='light-style layout-menu-fixed'
      data-theme="theme-default" data-assets-path='@((httpContextAccessor.HttpContext?.Request.PathBase ?? "") + "/")'
      data-framework="aspnetcore-mvc"
      data-template='vertical-menu-aspnet-core-mvc-template-free'>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    @{
        string title = ViewData["title"] as string ?? "";































        string appName = TempData.Peek("appName") as string ?? "";































        string productPage = TempData.Peek("productPage") as string ?? "";
    }
    <title>@title | @appName</title>
    <meta name="description" content="" />
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/jquery.dataTables.min.js"></script>
    <link href="~/css/jquery.dataTables.css" rel="stylesheet" />

    <!-- Canonical SEO -->
    <link rel="canonical" href='@productPage'>
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="~/img/favicon/favicon.ico" />
    <!-- Core Styles -->
    @await Html.PartialAsync("Sections/_Styles")

    <!-- Vendor Styles -->
    @RenderSection("VendorStyles", required: false)

    <!-- Page Styles -->
    @RenderSection("PageStyles", required: false)

    <!-- Include Scripts for customizer, helper, analytics, config -->
    @await Html.PartialAsync("Sections/_ScriptsIncludes")
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/jquery.dataTables.min.js"></script>
    <link href="~/css/jquery.dataTables.css" rel="stylesheet" />

</head>

<body>
    <!-- Layout Content -->
    @RenderBody()
    <!--/ Layout Content -->
    <!-- Core Scripts -->
    @await Html.PartialAsync("Sections/_Scripts")

    <!-- Vendor Scripts -->
    @RenderSection("VendorScripts", required: false)
    @RenderSection("Scripts", required: false)

    <div class="modal fade" id="submitModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="successModalLabel">Submission Status</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Submitted successfully!
                </div>
                <div class="modal-footer">
                    <button type="button" id="confirmSubmit" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Main JS-->
    <script src='~/js/main.js'></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    //
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/jquery.dataTables.min.js"></script>
    <link href="~/css/jquery.dataTables.css" rel="stylesheet" />

    <script type="text/javascript">
        $(document).ready(function () {
            initializeDataTable();

            function initializeDataTable() {
                if ($.fn.DataTable?.isDataTable('.table') && !$('.table.no-table').length) {
                    $('.table').not('.no-table').DataTable().destroy();
                }
                $('.table').not('.no-table').DataTable();
            }

            function reinitializeDataTable() {
                // Destroy and reinitialize DataTable
                $('.table').not('.no-table').DataTable().destroy();
                $('.table').not('.no-table').DataTable();
            }

            $(document).on('change', '.table', function () {
                reinitializeDataTable();
            });

            window.initializeDataTable = initializeDataTable;
            window.reinitializeDataTable = reinitializeDataTable;
        });
        $(document).ready(function () {
            // $('form').submit(function (e) {
            //     e.preventDefault(); // Prevent the default form submission

            //     // Trigger the modal dialog
            //     $('#submitModal').modal('show');
            // });

            // Handle the form submission once the user confirms in the modal
            // $('#confirmSubmit').click(function () {
            //     // Hide the modal
            //     $('#submitModal').modal('hide');

            //     // Submit the form
            //     $('form').off('submit').submit();
            // });
        });
    </script>
    <!-- Page Scripts-->
    @RenderSection("PageScripts", required: false)

    <!-- Place this tag in your head or just before your close body tag. -->
    @*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    @*<script src="~/js/site.js" asp-append-version="true"></script>*@
    <script src="~/js/form-validation.js"></script>


    <script type="text/javascript">
        $(document).ready(function () {
            $('select').each(function () {
                if ($(this).find('option[value=""]').length === 0) {
                    $(this).prepend('<option value="">Please select</option>');
                }
            });
        });
    </script>
</body>

</html>
