@using MEMIS.Data.Risk 
@model MEMIS.Data.Risk.RiskIdentification


@{
  ViewData["Title"] = "Details";
  Layout = "~/Pages/Shared/_ContentNavbarLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>RiskIdentification</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdentifiedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdentifiedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FocusArea)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FocusAreaFk.FocusAreaName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StrategicObjective)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StrategicPlanFk.ObjectiveName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ActivityFk.activityName)
        </dd> 
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RiskDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RiskDescription)
        </dd>
        @* <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Events)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Events)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RiskSource)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RiskSource)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RiskCause)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RiskCause)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RiskConsequence)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RiskConsequence)
        </dd> *@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RiskOwner)
        </dt>
        <dd class="col-sm-10">
            @{
                string userName = !string.IsNullOrEmpty(Model.RiskOwner) ? ViewBag.Users.FindByIdAsync(Model.RiskOwner).Result.UserName : "";
            }
            @userName
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RiskConsequenceId)
        </dt>
        <dd class="col-sm-10">
            @Enum.GetName(typeof(RiskConsequence), Model.RiskConsequenceId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RiskLikelihoodId)
        </dt>
        <dd class="col-sm-10">
            @Enum.GetName(typeof(RiskLikelihood), Model.RiskLikelihoodId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RiskScore)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RiskScore)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RiskRank)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RiskRank)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EvalCriteria)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EvalCriteria)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsVerified)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsVerified)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.RiskId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
