@model MEMIS.Data.Risk.RiskRegister
@using MEMIS.Data.Risk

@{
  ViewData["Title"] = "Risk Treatment";
  //Layout = "~/Views/Shared/_RiskLayout.cshtml";
  Layout = "~/Pages/Shared/_ContentNavbarLayout.cshtml";

  // var selectedItem = ViewBag.RiskLikelihoodList.FirstOrDefault(item => item.Value == Model.RiskRatingId.ToString());
  // var borderColor = selectedItem?.Data.Color ?? "black";

  var viewData = new ViewDataDictionary(ViewData);
  viewData["RiskRefID"] = Model.RiskRefID;
}

<script src="~/js/ui-modals.js"></script>

<h4>Risk Treatment</h4>
<hr />
<div class="row">
  <div class="col-md-12">

    <form asp-action="RiskTreatmentSubmit" class="needs-validation was-validated" id="mainForm" method="post" asp-controller="RiskRegister">
      @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
      <input type="hidden" asp-for="RiskRefID" />
      <input type="hidden" asp-for="RiskId" />
      <div class="row">
        <div class="form-group col">
          <label asp-for="IdentifiedDate" class="control-label"></label>
          <input asp-for="IdentifiedDate" class="form-control" />
          <span asp-validation-for="IdentifiedDate" class="text-danger"></span>
        </div>
        <div class="form-group col">
          <label asp-for="FocusArea" class="control-label"></label>
          @Html.DropDownList("FocusArea", new SelectList(ViewBag.FocusArea, "intFocus", "FocusAreaName"), new { @class = "form-control form-select selectpicker", @required = "required" })
          <span asp-validation-for="FocusArea" class="text-danger"></span>
        </div>
        <div class="form-group col">
          <label asp-for="StrategicObjective" class="control-label"></label>
          @Html.DropDownList("StrategicObjective", new SelectList(ViewBag.StrategicPlanList, "intObjective", "ObjectiveName"), new { @class = "form-control form-select", @required = "required" })
          <span asp-validation-for="StrategicObjective" class="text-danger"></span>
        </div>
      </div>
      <div class="row">
        <div class="form-group col">
          <label asp-for="Activity" class="control-label"></label>
          @Html.DropDownList("Activity", new SelectList(ViewBag.ActivityList, "intActivity", "activityName"), new { @class = "form-control form-select", @required = "required" })
          <span asp-validation-for="Activity" class="text-danger"></span>
        </div>
        <div class="form-group col">
          <label asp-for="RiskDescription" class="control-label"></label>
          <input asp-for="RiskDescription" class="form-control" />
          <span asp-validation-for="RiskDescription" class="text-danger"></span>
        </div>
        @*  <div class="form-group">
        <label asp-for="Events" class="control-label"></label>
        <input asp-for="Events" class="form-control" />
        <span asp-validation-for="Events" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="RiskSource" class="control-label"></label>
        <input asp-for="RiskSource" class="form-control" />
        <span asp-validation-for="RiskSource" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="RiskCause" class="control-label"></label>
        <input asp-for="RiskCause" class="form-control" />
        <span asp-validation-for="RiskCause" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="RiskConsequence" class="control-label"></label>
        <input asp-for="RiskConsequence" class="form-control" />
        <span asp-validation-for="RiskConsequence" class="text-danger"></span>
    </div> *@
        <div class="form-group col">
          <label asp-for="RiskConsequenceId" class="control-label"></label>
          @Html.DropDownList("RiskConsequenceId", ViewBag.RiskConsequenceList as SelectList, new { @class = "form-control form-select" })
          <span asp-validation-for="RiskConsequenceId" class="text-danger"></span>
        </div>
      </div>
      <div class="row">
        <div class="form-group col">
          <label asp-for="RiskLikelihoodId" class="control-label"></label>
          @Html.DropDownList("RiskLikelihoodId", ViewBag.RiskLikelihoodList as SelectList, new { @class = "form-control form-select" })
          <span asp-validation-for="RiskLikelihoodId" class="text-danger"></span>
        </div>
        <div class="form-group col">
          <label asp-for="RiskRatingId" class="control-label"></label>
          @Html.DropDownList("RiskRatingId", ViewBag.RiskLikelihoodList as SelectList,
                                 new { @class = "form-control form-select", style = $"border-color: {Model.RiskRatingColor};" })
          <span asp-validation-for="RiskRatingId" class="text-danger"></span>
        </div>
        <div class="form-group col">
          <label asp-for="RiskScore" class="control-label"></label>
          <input asp-for="RiskScore" class="form-control" required readonly />
          <span asp-validation-for="RiskScore" class="text-danger"></span>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-4">
          <label asp-for="RiskRank" class="control-label"></label>
          <input asp-for="RiskRank" class="form-control" required readonly />
          <span asp-validation-for="RiskRank" class="text-danger"></span>
        </div>
        <div class="form-group col-md-8">
          <label asp-for="EvalCriteria" class="control-label"></label>
          <textarea asp-for="EvalCriteria" class="form-control" style="height:150px" required readonly></textarea>
          <span asp-validation-for="EvalCriteria" class="text-danger"></span>
        </div>
      </div>
      <div class="row">
        <div class="form-group col">
          <label asp-for="riskTolerence" class="control-label"></label>
          <select asp-for="riskTolerence" class="form-control" asp-items="ViewBag.RiskRank"></select>
          <span asp-validation-for="riskTolerence" class="text-danger"></span>
        </div>
        <div class="form-group col">
          <label asp-for="riskTolerenceJustification" class="control-label"></label>
          <input asp-for="riskTolerenceJustification" class="form-control" />
          <span asp-validation-for="riskTolerenceJustification" class="text-danger"></span>
        </div>
        <div class="form-group col">
          <label asp-for="ActivityBudget" class="control-label"></label>
          <input asp-for="ActivityBudget" class="form-control" required />
          <span asp-validation-for="ActivityBudget" class="text-danger"></span>
        </div>
      </div>
      <!-- Modal Trigger -->
      <div>
        <br />
        <input type="button" onclick="submitRiskTreatmentForm()" value="Submit" class="btn btn-primary" />
      </div>
    </form>

    <button type="button" class="btn btn-secondary float-end" data-bs-toggle="modal" data-bs-target="#riskTreatmentModal">
      Add Risk Treatment Plan
    </button>
    <div>
      @Html.Partial("_TreatmentPlanForm", new RiskTreatmentPlan(), viewData)
    </div>
    <!-- Modal -->

  </div>
  <div class="col-md-6">
    <div class="card" style="width: fit-content" id="treatmentPlanGrid">
      @Html.Partial("_TreatmentPlanGrid", Model.RiskTreatmentPlans)
    </div>
  </div>
</div>

<div>
  <a asp-action="Index">Back to List</a>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>

  function submitRiskTreatmentForm() {
    // Get the form element
    var form = document.getElementById('mainForm');

    // Optionally validate the form here (if necessary)
    // Example: Check if required fields are filled
    if (form.checkValidity()) {
      // If valid, submit the form
      form.submit();
    } else {
      // If not valid, show validation feedback (if using Bootstrap or native HTML5 validation)
      form.classList.add('was-validated');
    }
  }

  $(document).ready(function () {

        @*$('#addRiskTreatment').on('click', function () {
            var form = $('#treatmentPlanForm');
            if (form[0].checkValidity()) {
                $.ajax({
                    url: '@Url.Action("AddTreatmentPlan", "Risk")',
                    type: 'POST',
                    data: form.serialize(),
                    success: function (result) {
                        $('#riskTreatmentModal').modal('hide');
                        $('#treatmentPlanGrid').html(result);
                    },
                    error: function (error) {
                        // Handle error
                    }
                });
            } else {
                form.addClass('was-validated');
            }
        });*@

        // $(document).on('click', '.remove-treatment', function () {
        //     var id = $(this).data('id');
        //     $.ajax({
        //         url: '@Url.Action("RemoveTreatmentPlan", "Risk")/' + id,
        //         type: 'POST',
        //         success: function (result) {
        //             $('#treatmentPlanGrid').html(result);
        //         },
        //         error: function (error) {
        //             // Handle error
        //         }
        //     });
        // });
    });
    window.addEventListener('load', function () {
        GetData();
    })

    $("#RiskConsequenceId").change(function () {
        if ($('option:selected', this).val() != 0) {
            GetData();
        }

    });
    $("#RiskLikelihoodId").change(function () {
        if ($('option:selected', this).val() != 0) {
            GetData();
        }

    });

    function GetData() {
        if (document.getElementById("RiskConsequenceId").value != 0 && document.getElementById("RiskLikelihoodId").value != 0) {
            $.ajax({
                url: '/RiskIdentifications/GetRiskMatrix',
                type: 'GET',
                data: { RCId: document.getElementById("RiskConsequenceId").value, RLId: document.getElementById("RiskLikelihoodId").value },
                dataType: 'json',
                success: function (data) {
                    document.getElementById('RiskRank').value = data.riskValue;
                    document.getElementById('RiskScore').value = data.riskRank;
                    document.getElementById('EvalCriteria').value = data.evaluationCriteria;
                },
                error: function (error) {
                    //log or alert the error
                }
            });
        }

    }

</script>
