@model MEMIS.Models.Risk.RiskTreatmentDto


@{
    ViewData["Title"] = "Risk Treatment Review";
    Layout = "~/Views/Shared/_RiskLayout.cshtml";
}
 

<h4>Risk Treatment Review</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        
        <form asp-action="RiskTreatmentHodReview">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RiskRefID" />
            <input type="hidden" asp-for="RiskId" />
            <div class="form-group">
                <label asp-for="IdentifiedDate" class="control-label"></label>
                <input asp-for="IdentifiedDate"  class="form-control" />
                <span asp-validation-for="IdentifiedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FocusArea" class="control-label"></label>
                @Html.DropDownList("FocusArea", new SelectList(ViewBag.FocusArea, "intFocus", "FocusAreaName"), new { @class = "form-control selectpicker", @required = "required" })
                <span asp-validation-for="FocusArea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StrategicObjective" class="control-label"></label>
                @Html.DropDownList("StrategicObjective", new SelectList(ViewBag.StrategicPlanList, "intObjective", "ObjectiveName"), new { @class = "form-control", @required = "required" })
                <span asp-validation-for="StrategicObjective" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Activity" class="control-label"></label>
                @Html.DropDownList("Activity", new SelectList(ViewBag.ActivityList, "intActivity", "activityName"), new { @class = "form-control", @required = "required" })
                <span asp-validation-for="Activity" class="text-danger"></span>
            </div> 
            <div class="form-group">
                <label asp-for="RiskDescription" class="control-label"></label>
                <input asp-for="RiskDescription" class="form-control" />
                <span asp-validation-for="RiskDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Events" class="control-label"></label>
                <input asp-for="Events" class="form-control" />
                <span asp-validation-for="Events" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RiskSource" class="control-label"></label>
                <input asp-for="RiskSource" class="form-control" />
                <span asp-validation-for="RiskSource" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RiskCause" class="control-label"></label>
                <input asp-for="RiskCause" class="form-control" />
                <span asp-validation-for="RiskCause" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RiskConsequence" class="control-label"></label>
                <input asp-for="RiskConsequence" class="form-control" />
                <span asp-validation-for="RiskConsequence" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RiskConsequenceId" class="control-label"></label>
                @Html.DropDownList("RiskConsequenceId", ViewBag.RiskConsequenceList as SelectList, new { @class = "form-control" })
                <span asp-validation-for="RiskConsequenceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RiskLikelihoodId" class="control-label"></label>
                @Html.DropDownList("RiskLikelihoodId", ViewBag.RiskLikelihoodList as SelectList, new { @class = "form-control" })
                <span asp-validation-for="RiskLikelihoodId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RiskScore" class="control-label"></label>
                <input asp-for="RiskScore" class="form-control"  required readonly/>
                <span asp-validation-for="RiskScore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RiskRank" class="control-label"></label>
                <input asp-for="RiskRank" class="form-control" required readonly/>
                <span asp-validation-for="RiskRank" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EvalCriteria" class="control-label"></label>
                <textarea asp-for="EvalCriteria" class="form-control" style="height:150px"  required readonly></textarea>
                <span asp-validation-for="EvalCriteria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="riskTolerence" class="control-label"></label>
                <select asp-for="riskTolerence" class="form-control" asp-items="ViewBag.RiskRank"></select>
                <span asp-validation-for="riskTolerence" class="text-danger"></span>
            </div>             
            <div class="form-group">
                <label asp-for="riskTolerenceJustification" class="control-label"></label>
                <input asp-for="riskTolerenceJustification" class="form-control" />
                <span asp-validation-for="riskTolerenceJustification" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdditionalMitigation" class="control-label"></label>
                <input asp-for="AdditionalMitigation" class="form-control" />
                <span asp-validation-for="AdditionalMitigation" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="ExpectedDate" class="control-label"></label>
                <input asp-for="ExpectedDate" class="form-control" />
                <span asp-validation-for="ExpectedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResourcesRequired" class="control-label"></label>
                <input asp-for="ResourcesRequired" class="form-control" />
                <span asp-validation-for="ResourcesRequired" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApprStatus" class="control-label"></label>
                <select asp-for="ApprStatus" class="form-control" asp-items="ViewBag.Approval"></select>
                <span asp-validation-for="ApprStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {

<script>

    window.addEventListener('load', function () {
        GetData();
    })

    $("#RiskConsequenceId").change(function () {
        if ($('option:selected', this).val() != 0) {
            GetData();
        }
        
    });
    $("#RiskLikelihoodId").change(function () {
        if ($('option:selected', this).val() != 0) {
            GetData();
        }

    });

    function GetData() {
        if (document.getElementById("RiskConsequenceId").value != 0 && document.getElementById("RiskLikelihoodId").value != 0) {
            $.ajax({
                url: '/RiskIdentifications/GetRiskMatrix',
                type: 'GET',
                data: { RCId: document.getElementById("RiskConsequenceId").value, RLId: document.getElementById("RiskLikelihoodId").value },
                dataType: 'json',
                success: function (data) {
                    document.getElementById('RiskRank').value = data.riskValue;
                    document.getElementById('RiskScore').value = data.riskRank;
                    document.getElementById('EvalCriteria').value = data.evaluationCriteria;
                },
                error: function (error) {
                    //log or alert the error
                }
            });
        }
        
    }

</script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
